<% layout('layouts/boilerplate') %>
<h1>CampGrounds</h1>

<a href="/campgrounds/new">Add New Campground</a>
<% for (let campground of campgrounds){ %>

<div class="card">
  <img src="<%= campground.image %>" class="card-img-top image-f" alt="card-img-top" />
  <div class="card-body">
    <h5 class="card-title"><%=campground.title%></h5>
    <p class="card-text">Description: <%= campground.description %></p>
    <p class="card-text">Location: <%= campground.location %></p>

    <a href="/campgrounds/<%=campground._id%>" class="card-link">Open Card</a>
  </div>
</div>
<% } %>
