<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">Your Campground</h1>
  <div class="col-md-6 offset-3">

    <div class="card">
      <img class="card-img-top" src="<%=campground.image%>" alt="Card image capdssdsd sdsds dsd sd sd s ds " />
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div>



    <ul>
      <li>Title: <%= campground.title %></li>

      <li>Location: <%= campground.location %></li>
      <li>
        <img
          class="img-thumbnail"
          src="<%=campground.image%>"
          alt="A Random Forest Image"
        />
      </li>
      <li><p><%= campground.description %></p></li>
    </ul>

    <button>
      <a href="/campgrounds/<%=campground._id%>/update">Edit This Campground</a>
    </button>
    <p></p>
    <form
      action="/campgrounds/<%=campground._id%>/delete?_method=DELETE"
      method="post"
    >
      <button>Delete This Campground</button>
      <p></p>
      <button><a href="/campgrounds"> All Campground</a></button>
    </form>
  </div>
</div>
